<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="/stylesheets/pure-min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <title>Service Virtualization</title>
</head>
<body>
  <h1>Service Virtualization</h1>

  <main>
    {{{ body }}}
  </main>
</body>
</html>
